$background-images: (
  light: (
    mobile: "/assets/images/pattern-background-mobile-light.svg",
    tablet: "/assets/images/pattern-background-tablet-light.svg",
    desktop: "/assets/images/pattern-background-desktop-light.svg",
  ),
  dark: (
    mobile: "/assets/images/pattern-background-mobile-dark.svg",
    tablet: "/assets/images/pattern-background-tablet-dark.svg",
    desktop: "/assets/images/pattern-background-desktop-dark.svg",
  ),
);
