// global color tokens
$-clr-purple: hsl(277, 91%, 56%);
$-clr-dark-navy: hsl(216, 25%, 25%);
$-clr-navy: hsl(215, 27%, 32%);
$-clr-grey-navy: hsl(219, 13%, 44%);
$-clr-light-bluish: hsl(216, 47%, 78%);
$-clr-light-grey: hsl(220, 38%, 97%);
$-clr-pure-white: hsl(0, 0%, 100%);
$-clr-green: hsl(151, 70%, 50%);
$-clr-red: hsl(0, 82%, 63%);
$-clr-box-shadow-light: hsla(220, 29%, 66%, 0.14);
$-clr-box-shadow-dark: hsla(216, 25%, 25%, 0.14);

$light: (
  "neutral": (
    "100": $-clr-pure-white,
    "200": $-clr-light-grey,
    "400": $-clr-light-grey,
    "500": $-clr-grey-navy,
    "600": $-clr-box-shadow-light,
    "700": $-clr-grey-navy,
    "900": $-clr-dark-navy,
  ),
  "accent": (
    "400": $-clr-green,
    "500": $-clr-red,
  ),
  "primary": (
    "400": $-clr-purple,
  ),
);

$dark: (
  "neutral": (
    "900": $-clr-pure-white,
    "700": $-clr-light-bluish,
    "600": $-clr-box-shadow-dark,
    "500": $-clr-grey-navy,
    "400": $-clr-light-grey,
    "200": $-clr-dark-navy,
    "100": $-clr-navy,
  ),
  "accent": (
    "500": $-clr-red,
    "400": $-clr-green,
  ),
  "primary": (
    "400": $-clr-purple,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);

$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);

// Change Theme
$active-theme: $light;
$enable-media-query-dark-mode: true;
