@use "../abstracts/" as *;

.question-options {
  position: relative;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-neutral-100;
  padding: $size-3;
  border-radius: $size-3;
  position: relative;
  box-shadow: 0 16px 40px 0 $color-neutral-600;
  @include mq(medium) {
    border-radius: $size-6;
  }

  & > img {
    width: 32px;
    height: 32px;
    @include mq(medium) {
      width: 40px;
      height: 40px;
    }
  }
}

.option-wrapper {
  display: flex;
  align-items: center;
  gap: $size-4;
  @include mq(medium) {
    gap: $size-8;
  }
}

.option:has(input[type="radio"]:checked, input[type="radio"]:focus) {
  outline: 3px solid $color-primary-400;
}

.correct {
  outline: 3px solid $color-accent-400;
  & .option-num {
    background-color: $color-accent-400;
    p {
      color: white;
    }
  }
}

.incorrect {
  outline: 3px solid $color-accent-500;
  & .option-num {
    background-color: $color-accent-500;
    p {
      color: white;
    }
  }
}

input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.option-num {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: $color-neutral-400;
  display: grid;
  place-content: center;
  border-radius: 6px;
  p {
    color: $color-neutral-500;
  }
  @include mq(medium) {
    min-width: 56px;
    width: 56px;
    height: 56px;
    border-radius: $size-2;
  }
}

input[type="radio"]:checked ~ .option-num {
  background-color: $color-primary-400;
}
input[type="radio"]:checked ~ .option-num > p {
  color: white;
}
input[type="radio"]:hover ~ .option-num {
  background-color: #f6e7ff;
}
input[type="radio"]:hover ~ .option-num > p {
  color: $color-primary-400;
}

.error-check {
  display: flex;
  align-items: center;
  gap: $size-3;
  margin-inline: auto;
  width: fit-content;
  margin-block-start: -$size-7;

  img {
    width: 32px;
    height: 32px;
  }
  @include mq(medium) {
    margin-block-start: -$size-8;
    img {
      width: 40px;
      height: 40px;
    }
  }
  @include mq(large) {
    grid-column: 2;
    margin-block-start: 0;
  }
}
