@use "../abstracts/" as *;

.score-wrapper {
  background-color: $color-neutral-100;
  padding: $size-8;
  border-radius: $size-3;
  display: grid;
  gap: $size-4;
  place-content: center;
  box-shadow: 0 16px 40px 0 $color-neutral-600;
  @include mq(medium) {
    padding: $size-12;
    border-radius: $size-6;
    gap: $size-10;
  }

  .subject-with-icon {
    justify-content: center;
  }
}

.score {
  text-align: center;
  span {
    display: block;
    color: $color-neutral-700;
  }
}
