@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/static/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}
