@use "../abstracts/" as *;

body {
  font-family: $font-family-base;
  font-weight: $font-weight-default;
  font-size: $font-size-400;
  color: $color-neutral-900;
  background-color: $color-neutral-200;
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  @include mq(medium) {
    background-image: var(--bg-tablet);
  }
  @include mq(large) {
    background-image: var(--bg-desktop);
  }
}

header {
  margin-block: $size-4;
  @include mq(medium) {
    margin-block: $size-10;
  }
  @include mq(large) {
    margin-block: $size-20;
  }
}

main {
  margin-block: $size-8;
  @include mq(medium) {
    margin-block: $size-2;
    margin-block-end: $size-8;
  }
  @include mq(large) {
    margin-block-start: 0;
  }
}
